img {
  display: block;
}
body {
  background-color: #004274;
}
h1 {
  color: #ffffff;
}
h2 {
  color: #ffffff;
}
h3 {
  color: #ffffff;
}
p {
  color: #f7c200;
}
h1 {
  display: flex;
  align-items: center;
}
div {
  display: flex;
  align-items: bottom;
  border: 0px solid white;
  justify-content: center;
}
table {
  color: #ffffff;
}
.small {
  width: 570px;
}
